html
    head
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
      .wrapper
        .card
          .circle
            img.image(src="/assets/img/can-real-sugar-reg.png")
            .circle__content
              h1.circle__title="Pepsi Cola"
              p.circle__text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repellat ab esse veniam commodi vel, rerum quia aliquam culpa."
              button.circle__btn="Buy Now"